<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cs400.gamifyhealth" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Gamify"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".WelcomeActivity"
            android:label="GamifyHealth" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SelectActivities"
            android:label="SelectActivities"
            android:parentActivityName=".WelcomeActivity">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.cs400.gamifyhealth.WelcomeActivity" />
              </activity>
        <activity
            android:name=".CurrentActivityLevel"
            android:label="@string/title_activity_current_activity_level"
            android:parentActivityName=".SelectActivities" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cs400.gamifyhealth.SelectActivities" />
        </activity>
        <activity
            android:name=".GoalSetActivity"
            android:label="@string/title_activity_goal_set"
            android:parentActivityName=".CurrentActivityLevel" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cs400.gamifyhealth.CurrentActivityLevel" />
        </activity>
    </application>

</manifest>
